include ~/.newsbeuter/colors

proxy 172.16.2.20:3128
bind-key  j  next
bind-key  k  prev
save-path  ~/.newsbeuter/saved

bind-key  J  next-feed
bind-key  K  prev-feed

pager "less %f"

browser google-chrome

auto-reload yes
reload-time 30
reload-threads 5
search-highlight-colors black yellow bold
refresh-on-startup yes
notify-program notify-send
notify-always yes
articlelist-format "%4i %f %L %a %D %?T?;%-17T; ?%t"

article-sort-order date-asc
feed-sort-order articlecount-asc

html-renderer "w3m -dump -T text/html"
